* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    color: #192965;
  }

  /* FeaturesSection.css */
.feature-card {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}